body 	{
		width: 80%;
		margin: 0 auto;
        padding-top: 1em;
	  background: url(images/fabric-02.jpg) repeat; 
  /* -webkit-background-size: cover; */
  /* -moz-background-size: cover; */
  /* -o-background-size: cover; */
  /* background-size: cover; */
  background-color: #F3EFE2;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.woven	{
		display: none;
}
.woven	img	{
			border: 0;
}

/* =Responsive images */

img	{
	max-width: 100%;
	height: auto;
}

.responsiveSelectContainer select.responsiveMenuSelect, select.responsiveMenuSelect {
        background-color: silver;
        border-style: none;
        margin-bottom: 2em;
		font-size: 0.75em;

}


.module-contact     {
                    min-height: 20em; /* Cross broswr compatible. Via ccs-tricks */
                    height:auto !important;
                    height: 20em;
}



.ngg-galleryoverview    {
                        padding-bottom: 3em;
}
/* Hover to greyscale not working in ffx */
/* .ngg-gallery-thumbnail img:hover{ */
/* filter: grayscale(100%); */
/* -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); */
/* -ms-filter: grayscale(100%); -o-filter: grayscale(100%); */
/* filter: url(desaturate.svg#greyscale); */
/* filter: gray; */
/* -webkit-filter: grayscale(1); */
/* } */

/* =Images
---------- */
img {
    border: 1px solid darkgray;
}

header img  {
            border: none;
}

footer  {
        border-top: 1px dashed #444;
        padding-top: 1em;
		padding-bottom: 1em;
        clear: both;
}


time p    {
        padding-bottom: 1em;
}

/*  =Media queries
----------------------------------------- */



@media only screen and (min-width: 480px) /* 30em */ {

    /* header { */
    /*         margin-bottom: 2em; */
    /* } */

    /* .module     { */
    /*         padding-left: 1.375em; */
/* } */


#menu-nav-main-1{
    list-style:none;
    font-weight:normal;
    margin-top:50px;
    float:right;
    /* width:100% */;
    position:relative;
    z-index:5;
}
#menu-nav-main-1 li{
    float:left;
    margin-right:10px;
    position:relative;
}
#menu-nav-main-1 a{
    display:block;
    padding:5px;
    color:#444;
    text-decoration:none;
    border-bottom: 2px solid #981405;
}
#menu-nav-main-1 a:hover{
    color:#444;
    background:#ccc;
    text-decoration:underline;
}

/*--- DROPDOWN ---*/
#menu-nav-main-1 ul{
    background:#F3EFE2;/* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    background:rgba(255,255,255,0);/* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style:none;
    list-style:none;
    position:absolute;
    left:-9999px;/* Hide off-screen when not needed (this is more accessible than display:none;) */
}
#menu-nav-main-1 ul li{
    padding-top:1px;    /* Introducing a padding between the li and the a give the illusion spaced items */
    float:none;
}
#menu-nav-main-1 ul {
    white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#menu-nav-main-1 li:hover ul{
    left:0; /* Bring back on-screen when needed */
}
#menu-nav-main-1 li:hover a { /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    background:#ccc;
    text-decoration:underline;
    -webkit-transition: all 0.4s ease-in-out;
              -moz-transition: all 0.4s ease-in-out;
              -o-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out;
}
#menu-nav-main-1 li:hover ul a{
    text-decoration:underline;
}
#menu-nav-main-1 li:hover ul li a:hover{
    background:#ccc;
}

#menu-nav-main-1 ul li{
    padding-top:1px;
    float:none;
}
#menu-nav-main-1 ul a{
    white-space:nowrap;
}
#menu-nav-main-1 li:hover ul{
    left:0;
}

#menu-nav-main-1 li:hover a{
    background:ivory;
    text-decoration:underline;
}

#menu-nav-main-1 li:hover ul li a:hover{
    background:#F3EFE2;
}

}



@media only screen and (min-width: 600px) /* 37.5em */ {

}


@media only screen and (min-width: 768px) /* 48em */{
	
header	{
		margin-bottom: 1em;
}

#menu-nav-main-1    {
                    position: absolute;
                    top: 1em;
                    left: 40%;
}

.woven	{
			display: block;
		border: none;
		position: absolute;
		right:0;
		top:143px;
}

ul.sub-menu	{                   
			margin-left: -2em; /* Drop down elements, aligning to top level	*/

}


/* Grids	*/

@media only screen and (min-width: 48em) /* 768px */ {

[class='col-1-3'] {
	float: left;
	width: 25%;
  padding-right: $pad;
  .grid &:last-of-type {
  	padding-right: $pad;
  }
}


/* Opt-in outside padding */
.grid-pad {
  padding: $pad 0 $pad $pad;
  [class*='col-']:last-of-type {
    padding-right: $pad;
  }
}

}



}


@media only screen and (min-width: 1260px) /* 78.75em */ {

}



/* WIDESCREEN */

/* Increased body size for legibility */

@media only screen and (min-width: 1400px) /* 87.5em */ {

     body   {
            font-size:120%;
            width: 60%;
        }

}

