body 	{
        background-color: #1C1C1C;
		width: 80%;
		margin: 0 auto;
        padding-top: 1em;
}


.responsiveSelectContainer select.responsiveMenuSelect, select.responsiveMenuSelect {
        background-color: silver;
        border-style: none;
        margin-bottom: 2em;

}


.contact-single     {
                    min-height: 22em; /* Cross broswr compatible. Via ccs-tricks */
                    height:auto !important;
                    height: 22em;
}

.main-home {
            padding-top: 2em;
}

.module    {
                padding-top: 2em;

}

.ngg-galleryoverview    {
                        padding-bottom: 3em;
}
.ngg-gallery-thumbnail img:hover{
filter: grayscale(100%);
-webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
-ms-filter: grayscale(100%); -o-filter: grayscale(100%);
filter: url(desaturate.svg#greyscale);
filter: gray;
-webkit-filter: grayscale(1);
}

/* =Images
---------- */
img {
    border: 1px solid darkgray;
}

header img  {
            border: none;
}

footer  {
        border-top: 1px dashed #fff;
        padding-top: 1em;
        clear: both;
}


time p    {
        padding-bottom: 1em;
}

#meteor-slideshow   {
                    border: 3px solid #333;
}


/*  =Media queries
----------------------------------------- */



@media only screen and (min-width: 480px) /* 30em */ {

    header {
            margin-bottom: 2em;
    }

    .module     {
            padding-left: 1.375em;
}

/* //     #menu-nav-main-1    {
//                 list-style-type: none;
//                 margin-left: 0em;

// } */
/* =nav */

#menu-nav-main-1{
    list-style:none;
    font-weight:normal;
    margin-bottom:10px;
    float:right;
    width:100%;
    position:relative;
    z-index:5;
}
#menu-nav-main-1 li{
    float:left;
    margin-right:10px;
    position:relative;
}
#menu-nav-main-1 a{
    display:block;
    padding:5px;
    color:#fff;
    text-decoration:none;
    border-bottom: 2px solid #981405;
}
#menu-nav-main-1 a:hover{
    color:#fff;
    background:#981405;
    text-decoration:underline;
}

/*--- DROPDOWN ---*/
#menu-nav-main-1 ul{
    background:#fff;/* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    background:rgba(255,255,255,0);/* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style:none;
    list-style:none;
    position:absolute;
    left:-9999px;/* Hide off-screen when not needed (this is more accessible than display:none;) */
}
#menu-nav-main-1 ul li{
    padding-top:1px;    /* Introducing a padding between the li and the a give the illusion spaced items */
    float:none;
}
#menu-nav-main-1 ul {
    white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#menu-nav-main-1 li:hover ul{
    left:0; /* Bring back on-screen when needed */
}
#menu-nav-main-1 li:hover a { /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    background:#981405;
    text-decoration:underline;
    -webkit-transition: all 0.4s ease-in-out;
              -moz-transition: all 0.4s ease-in-out;
              -o-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out;
}
#menu-nav-main-1 li:hover ul a{
    text-decoration:none;
}
#menu-nav-main-1 li:hover ul li a:hover{
    background:#333;
}

#menu-nav-main-1 ul li{
    padding-top:1px;
    float:none;
}
#menu-nav-main-1 ul a{
    white-space:nowrap;
}
#menu-nav-main-1 li:hover ul{
    left:0;
}

#menu-nav-main-1 li:hover a{
    background:#981405;
    text-decoration:underline;
}

#menu-nav-main-1 li:hover ul li a:hover{
    background:#333;
}



.main.intro h2 {clear: both;} /* Keeps the title left at tablet sizes */

}



@media only screen and (min-width: 600px) /* 37.5em */ {

.module     {
            padding-left: 1.375em;
}

}



@media only screen and (min-width: 768px) /* 48em */{

#menu-nav-main-1    {
                    position: absolute;
                    top: 5em;
                    left: 40%;
}


#menu-nav-main-1 ul        {
                    margin-left: 0;

}

/* #menu-nav-main-1  {
                float: left;
                padding-top: 6em;
}


#menu-nav-main-1  {
    list-style:none;
    margin-left:0;
    @extend .cf;
    margin-top: -6em;

    > li{

        &,
        > a{
            display:inline-block;
           *display:inline;
            zoom:1;
            padding-right: 0.3em;
        }
    }
} */

#searchform     {
                text-align: centre;
                font-size: 0.75em;
                padding-bottom: 2em;
}


.screen-reader-text {
                    margin-right: 12em;
}


.intro  p   {
            padding-right: 25%;
}





#searchform     {
                text-align: centre;
                font-size: 0.75em;
}


.screen-reader-text {
                    margin-right: 12em;
}

}


@media only screen and (min-width: 1260px) /* 78.75em */ {


}



/* WIDESCREEN */

/* Increased body size for legibility */

@media only screen and (min-width: 1400px) /* 87.5em */ {

     body   {
            font-size:120%;
            width: 60%;
        }

}

