body 	{
        background-color: #1C1C1C; 
		width: 80%;
		margin: auto;
        padding-top: 1em;
}


#menu-nav-main-1    {
                list-style-type: none;
                margin-left: 2em;  
}


.responsiveSelectContainer select.responsiveMenuSelect, select.responsiveMenuSelect {
        background-color: #F8993C;  /*  orange */
        border-style: none;
        margin-bottom: 2em;

}


.contact-single     {
                    min-height: 22em; /* Cross broswr compatible. Via ccs-tricks */ 
                    height:auto !important; 
                    height: 22em;
}

.main-home {
            padding-top: 2em;
}

.module-home    {
                padding-top: 2em;
}


/* =Images
---------- */
img {
    border: 1px solid darkgray;
}

header img  {
            border: none;
}

footer  {
        border-top: 1px dashed #fff;
        padding-top: 1em;
        clear: both;
}


time p    {
        padding-bottom: 1em;
}

#meteor-slideshow   {
                    border: 3px solid #333;
}


/*  =Media queries
----------------------------------------- */



@media only screen and (min-width: 30em) /* 480px */ {

    header {
            margin-bottom: 2em;
    }

    #menu-nav-main-1    {
                list-style-type: none;
                margin-left: 0em; 

}
.main.intro h2 {clear: both;} /* Keeps the title left at tablet sizes */

}



@media only screen and (min-width: 37.5em) /* 600px */ {



}



@media only screen and (min-width: 48em) /* 768px */{



#menu-nav-main-1  {
                float: left;
                padding-top: 6em;
}


#menu-nav-main-1  {
    list-style:none;
    margin-left:0;
    @extend .cf;
    margin-top: -6em;

    > li{

        &,
        > a{
            display:inline-block;
           *display:inline;
            zoom:1;
            padding-right: 0.3em;
        }
    }
}

#searchform     {
                text-align: centre;
                font-size: 0.75em;
}


.screen-reader-text {
                    margin-right: 12em; 
}


.intro  p   {
            padding-right: 25%;
}



}



@media only screen and (min-width: 64em) /* 1024px */ {

#menu-nav-main-1  {
                float: right;
                margin-top: -6em;
                padding-top: 0;
}


#menu-nav-main-1  {
    list-style:none;
    margin-left:0;
    @extend .cf;
    margin-top: -6em;

    > li{

        &,
        > a{
            display:inline-block;
           *display:inline;
            zoom:1;
            padding-right: 0.3em;
        }
    }
}

#searchform     {
                text-align: centre;
                font-size: 0.75em;
}


.screen-reader-text {
                    margin-right: 12em; 
}

}


@media only screen and (min-width: 78.75em) /* 1260px */ {


}



/* WIDESCREEN */

/* Increased body size for legibility */

@media only screen and (min-width: 87.5em) /* 1400px */ {

     body {font-size:120%;} 
	
}

