body 	{
		font-family: 'Open Sans', Helvetica, serif;  
		color: #BDBDBD;
		border: 0;
}
/*

14 / 16	= 		0.875em 		(14px equivalent)
16 / 16	= 		1em 			(16px equivalent)
18 / 16 = 		1.125em 		(18px equivalent)
21 / 16 = 		1.3125em 		(21px equivalent)
24 / 16 = 		1.5em 			(24px equivalent)
30 / 16 = 		1.875em 		(30px equivalent)

*/
/* =Colours	*/

$hovercolor: #981405; /* deep red	*/	
$linkcolor:	#66CCCC;	/* electric blue	*/
$accentcolor: #F8993C;	/*	orange */

h1, 
h2, 
h3, 
h4, 
h5, 
h6 					{ 
	font-family:  "Times New Roman", Times, serif; 
	font-style: italic;
	color: lighten($accentcolor, 25%);
	font-weight: normal;
}

/*	=Links-main nav Moved to layout.scss
-------------------	*/
// .menu li	{
// 			margin: 0 0.25em;	
			
// }

// .menu a	{
// 					color: #fff;
// 					text-decoration: none;
// 					border-bottom: 2px solid $hovercolor;
// 					text-transform: uppercase;
// }


// .menu a:hover	{
// 				background-color: $hovercolor;
// 				color: white;
// 				text-decoration: none;
// 				-webkit-border-radius: 2px;
// 				-moz-border-radius: 2px;
// 				border-radius: 2px;
// 				-webkit-transition: all 0.4s ease-in-out;
// 				-moz-transition: all 0.4s ease-in-out;
// 				-o-transition: all 0.4s ease-in-out;
// 				transition: all 0.4s ease-in-out;
// }

/*	=Links-global
-----------------	*/

a, a:active, a:visited { color: #66cccc; }
a:hover { color: #981405; text-decoration: underline; }

a	{text-decoration:none;}

.main-home h2 	{
				color: $accentcolor;
				padding-top: 1em;
				padding-bottom: 0.25em; 
				border-bottom: dashed 1px white;

}

.module-home  	{
				a[href]:after {content:" »";
}
}

/* 	The big message on the home page (when in use)*/

h2.message  {	/* 	The big message on the home page*/
			font-family: "Times", Times New Roman, Georgia, serif;
			font-style: italic;	
			font-size: 1.75em;
			color: $accentcolor; 
			margin: 0 0 2em 0;
			padding: 1em 0 0 0;
			border-bottom: 1px dashed #fff;
			font-weight: normal;
			clear: both;
}

.underline-dashed	{
					border-bottom: 1px dashed #fff;				
					padding-bottom: 0.23em;
					margin-right: 2em;	
					
}
time  	{
		color: #829256;
		padding-bottom: 10px;
		display: inline-block;
}





footer p 	{
			font-size: 0.75em;
			margin-bottom: 0;
}




