body 	{
		font-family: Georgia, Times, "Times New Roman", serif;
		color: #444444;
		border: 0;
		line-height: 1.5;
}
/*

14 / 16	= 		0.875em 		(14px equivalent)
16 / 16	= 		1em 			(16px equivalent)
18 / 16 = 		1.125em 		(18px equivalent)
21 / 16 = 		1.3125em 		(21px equivalent)
24 / 16 = 		1.5em 			(24px equivalent)
30 / 16 = 		1.875em 		(30px equivalent)

*/
/* =Colours	*/

$hovercolor: #981405; /* deep red	*/
$linkcolor:	#66CCCC;	/* electric blue */
$accentcolor: #981405;	/*	deep red */

h1,
h2,
h3,
h4,
h5,
h6 					{
	font-family: Georgia, Times, "Times New Roman", serif;
	/* font-style: italic; */
	color: $accentcolor;
	font-weight: normal;
}

/*	Hot pink lives! */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

/*	=Links-main nav Moved to _layout.scss
-------------------	*/
// .menu li	{
// 			margin: 0 0.25em;

// }

// .menu a	{
// 					color: #409BBE;
// 					text-decoration: none;
// 					border-bottom: 2px solid $hovercolor;
// 					text-transform: uppercase;
// }


// .menu a:hover	{
// 				background-color: $hovercolor;
// 				color: white;
// 				text-decoration: none;
// 				-webkit-border-radius: 2px;
// 				-moz-border-radius: 2px;
// 				border-radius: 2px;
// 				-webkit-transition: all 0.4s ease-in-out;
// 				-moz-transition: all 0.4s ease-in-out;
// 				-o-transition: all 0.4s ease-in-out;
// 				transition: all 0.4s ease-in-out;
// }

/*	=Links-global
-----------------	*/

a, a:active, a:visited { color: #409BBE; }
a:hover { color: #981405; text-decoration: underline; }

a	{text-decoration:none;}

.main h2 	{
				color: $accentcolor;
				padding-top: 1em;
				padding-bottom: 0.25em;
				border-bottom: dashed 1px white;
				/*text-align: center;*/

}

[class*='module'] 	{
				a[href]:after {content:" »";
}
}

/* 	The big message on the home page (when in use)*/

.intro-home h1  {	/* 	The big message on the home page*/
			font-family: Georgia, Times, "Times New Roman", serif;
			/* font-style: italic; */
			font-size: 2em;
			color: $accentcolor;
			margin: 0 0 0.25em 0;
			padding: 0.5em 0 0 0;
			border-bottom: 1px dashed #fff;
			font-weight: normal;
			clear: both;
}

@media only screen and (min-width: 768px) /* 48em */{

.intro-home h1 	{ /*     The big message on the home page*/
				font-size: 4.25em;
}
}
.underline-dashed	{
					border-bottom: 1px dashed #fff;
					padding-bottom: 0.23em;
					/* margin-right: 2em; */

}
time  	{
		color: #829256;
		padding-bottom: 10px;
		display: inline-block;
}

.screen-reader-text {
					font-size: 16px;
}

.main p	{
		max-width: 38em;
}

footer p 	{
			font-size: 0.75em;
			margin-bottom: 0;
}




